<li class="nav-item me-4">
  <%= link_to "Home", root_path, class: 'nav-link' %>
</li>
<li class="nav-item me-4">
  <%= link_to "Page1", "/welcome/page1", class: 'nav-link' %>
</li>
<li class="nav-item me-4">
  <%= link_to "Page2", "/welcome/page2", class: 'nav-link' %>
</li>